<div class=footer__footer>
<div class="container container-adalabers">
<footer class="footer">
    <aside class="footer-aside">
        <p><small>Collapsing margins © 2020</small></p>
    </aside>
<nav class="footer-nav">
    <ul>
        <li>
            <a href="./#equipo">EQUIPO</a>
        </li>
        <li>
            <a href="#quienessomos">QUIÉNES SOMOS</a>
        </li>
        <li>
            <a href="./contacto.html">CONTACTO</a>
        </li>
    </ul>
</nav>
    <div class="footer-logo">
        <a href="./#home">
            <img src= "./assets/images/logo.png" alt="logo" title="logo_adalab">
        </a> 
</div>

</footer>
</div>
</div>
