<a href="#inicio" title="ir a inicio" class="buttontop">^</a>
<div class=footer__footer>
<div class="container container-adalabers">
<footer class="footer">
    <aside class="footer-aside">
        <p><small>Collapsing margins © 2020</small></p>
    </aside>
<nav class="footer-nav">
    <ul>
        <li>
            <a href="./#equipo" title="Equipo">EQUIPO</a>
        </li>
        <li>
            <a href="./#quienessomos" title="Quienes somos">QUIÉNES SOMOS</a>
        </li>
        <li>
            <a href="./contacto.html" title="Contacto">CONTACTO</a>
        </li>
    </ul>
</nav>
    <div class="footer-logo">
        <a href="https://adalab.es/" title="home" target="_blank">
            <img src= "./assets/images/adalab-transparente.png" alt="logo" title="IraAdalab">
        </a> 
</div>
</footer>
</div>
</div>
