<footer class="footer">
    <aside class="footer-aside">
        <p><small>Equipo 3 © 2020</small></p>
    </aside>
<nav class="footer-nav">
    <ul>
        <li>
            <a href="#aboutus">EQUIPO</a>
        </li>
        <li>
            <a href="#adalabers">QUIÉNES SOMOS</a>
        </li>
        <li>
            <a href="#contact">CONTACTO</a>
        </li>
    </ul>
</nav>
    <div class="footer-logo">
        <a href="#home"><img src="images/logo.png" alt="logo">
        </a> 
</div>

</footer>
