<div class="container-header">
    <header class="header">
        <div class="group">
            <h1 class="h1header"><a title="Nombre del equipo" href="./index.html">COLLAPSING MARGINS</a></h1>
        </div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a title="Ir a equipo" id="equipo" href="./#equipo">EQUIPO</a>
                </li>
                <li>
                    <a title="Ir a quienes somos" id="quienessomos" href="./#quienessomos">QUIÉNES SOMOS</a>
                </li>
                <li>
                    <a title="Ir a contacto" id="contacto" href="./contact.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
