  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Collapsing Margins</title>
    
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" crossorigin="anonymous" />
  </head>