<div class="container-header">
    <header class="header">
        <div class="group">
            <h1 class="h1header"><a href="./index.html">COLLAPSING MARGINS</a></h1>
        </div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="#aboutus">EQUIPO</a>
                </li>
                <li>
                    <a href="#adalabers">QUIENES SOMOS</a>
                </li>
                <li>
                    <a href="#contact">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
<section class="hero">
    <div class="container container-adalabers whitebox">
        <div class="textbox">
            <p>Effectively merging into one another.</p>
        </div>
    </div>
</section>