<!DOCTYPE html>
<html lang="es">

<partial src="_head.html" title="Gador Villanueva"></partial>

<body>
    <partial src="_header.html" label="Header"></partial>
    <section class="hero-team hero-team-gv"></section>
    <section class="container team">
        <h2>Gádor Villanueva Martos</h2>
        <div class="team-member-box">
            <div class="adalabers-pic team-member-pic">

                <img src="./assets/images/gador_villanueva.jpg" alt="Foto de Gador Villanueva" title=“Foto de María Garvía”>
            </div>
            <div class="team-member-description">
                Hola, soy Gádor. Nací donde la Sierra es Nevada y las playas son de piedras y no de arena, ¡Granada! Siempre he tenido un espíritu aventurero y una pasión por la naturaleza y las actividades al aire libre: buceo, surf, escalada, trekking, esquí, alpinismo… Esta pasión me ha llevado a desarrollar un instinto de superación y adaptación, a descubrir sitios increíbles y conocer gente maravillosa. Si no estoy programando o durmiendo, ¡búscame en las montañas!
            </div>
        </div>
        <div class="team-member-skills">
            <ul>
                <li>
                    <h3>De dónde vengo</h3>
                    Hasta ahora he trabajado en la transmisión de conocimientos y valores como comunicadora y mediadora a través de la empatía, la disciplina, el liderazgo y sobre todo la paciencia... ¡era profesora de inglés!
                </li>
                <li>
                    <h3>Mis objetivos</h3>
                    A corto plazo, trabajar como desarrolladora front-end para una empresa en la que pueda formar parte de un equipo y seguir aprendiendo. A largo plazo espero trabajar con mi pc desde la ubicación que yo elija, que puede variar cada cierto tiempo :)
                </li>
                <li>
                    <h3>Mi mayor reto en Adalab</h3>
                    Reescribir archivos CSS en formato SCSS sin anidar hasta el infinito y más allá. 
                </li>
                <li>
                    <h3>Conocimientos técnicos:</h3>
                    HTML, CSS, SASS, JavaScript, GitHub, Gulp, React y metodologías de trabajo Agile y Scrum. 
                </li>
            </ul>
        </div>
        </div>
    </section>
    <partial src="_footer.html" label="Footer"></partial>
</body>

</html>