<!DOCTYPE html>
<html lang="es">

<partial src="_head.html" title="Gador Villanueva"></partial>

<body>
    <partial src="_header.html" label="Header"></partial>
    <section class="hero-team"></section>
    <section class="container team">
        <h2>Nombre</h2>
        <div class="team-member-box">
            <div class="team-picture">
                <img src=“./assets/images/maria_garvia.jpg” alt=“Foto de María Garvía” title=“Foto de María Garvía”>
            </div>
            <div class="team-member-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas veniam aliquam molestiae eligendi
                reiciendis laboriosam nihil aperiam, quis obcaecati cum molestias ratione culpa quasi! Reprehenderit
                quas perspiciatis obcaecati omnis neque?
            </div>
        </div>
        <div class="team-member-skills">
            <ul>
                <li>
                    <h3>De dónde vengo</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </li>
                <li>
                    <h3>Mis objetivos</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </li>
                <li>
                    <h3>Mi mayor reto en Adalab</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </li>
                <li>
                    <h3>Conocimientos técnicos:</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </li>
            </ul>
        </div>
        </div>
    </section>
    <partial src="_footer.html" label="Footer"></partial>
</body>

</html>