<!DOCTYPE html>
<html lang="es">

<partial src="_head.html" title="María Blanco"></partial>

<body>
    <partial src="_header.html" label="Header"></partial>
    <section class="hero-team hero-team-mb"></section>
    <section class="container team">
        <h2>María Blanco</h2>
        <div class="team-member-box">
            <div class="adalabers-pic team-member-pic">
                <img src="./assets/images/maria_blanco.jpg" alt=“Foto de María Garvía” title=“Foto de María Garvía”>
            </div>
            <div class="team-member-description">
                ¡Soy María! Si algo me define es que soy muy muy curiosa y siempre ando es búsqueda de nuevas experiencias para llenar mi mochila. Me encanta viajar y el senderismo por eso siempre que puedo me pierdo para encontrarme en un nuevo destino.
No concibo la vida sin retos, así que ahora ando inmersa en el de convertirme en programadora Front-end. ¿Lo conseguiré?
            </div>
        </div>
        <div class="team-member-skills">
            <ul>
                <li>
                    <h3>De dónde vengo</h3>
                    Soy comunicadora audiovisual y además toco el bajo electrico. Llevo 10 aos trabajando como responsable de tecnología para Apple
                </li>
                <li>
                    <h3>Mis objetivos</h3>
                    Me encantaría ver mundo con una furgoneta mientras trabajo como Desarrolladora Front-End en remoto! 
                </li>
                <li>
                    <h3>Mi mayor reto en Adalab</h3>
                    Git por supuesto. A largo plazo querría poder poner en práctica todo lo aprendido aqui, trabajando para una empresa.
                </li>
                <li>
                    <h3>Conocimientos técnicos:</h3>
                    Conocimientos técnicos:|HTML5| |CSS3| |SAAS| |GIT| |Github| |Gulp| |Técnicas Agile & SCRUM|
                </li>
            </ul>
        </div>
        </div>
    </section>
    <partial src="_footer.html" label="Footer"></partial>
</body>

</html>