<!DOCTYPE html>
<html lang="es">

<partial src="_head.html" title="María Garvía"></partial>

<body>
    <partial src="_header.html" label="Header"></partial>
    <section class="hero-team hero-team-mg"></section>
    <section class="container team">
        <h2>María Garvía</h2>
        <div class="team-member-box">
            <div class="adalabers-pic team-member-pic">
                <img src="./assets/images/maria_garvia.jpg" alt="Foto de María Garvía" title="Foto_de_María_Garvía">
            </div>
            <div class="team-member-description">
                ¡Hola! Soy María y soy un culo inquieto. Me encanta viajar, aprender cosas nuevas y salir de mi zona de confort. Siempre voy en busca de nuevos retos. Después de una etapa emprendedora de lo más apasionante ¡me lanzo a por el desarrollo web! Me apasionan los conciertos y, por qué no decirlo, una buena tarde de cañas y risas con los amigos.
            </div>
        </div>
        <div class="team-member-skills">
            <ul>
                <li>
                    <h3>De dónde vengo</h3>
                Vengo del sector de la educación internacional. Tras estudiar fuera en varias ocasiones decidí que todos deberían probarlo y comencé a ayudar a otros a hacer lo mismo. Después de ocho años voy en busca de nuevos retos en el desarrollo web.
                </li>
                <li>
                    <h3>Mis objetivos</h3>
                    Vivir por el mundo, viajar y trabajar como frontend developer. 
                </li>
                <li>
                    <h3>Mi mayor reto en Adalab</h3>
                    ¡Hacerme amiga de la terminal! Git, gulp y github están siendo mis mayores retos, pero estoy convencida de que los tendré totalmente dominados a finales de Abril.
                </li>
                <li>
                    <h3>Conocimientos técnicos:</h3>
                    |HTML5| |CSS3| |SAAS| |GIT| |Github| |Gulp| |Técnicas Agile & SCRUM| |+| 
                </li>
            </ul>
        </div>
        </div>
    </section>
    <partial src="_footer.html" label="Footer"></partial>
</body>

</html>