<!DOCTYPE html>
<html lang="es">

<partial src="_head.html" title="Patricia Ramos"></partial>

<body>
    <partial src="_header.html" label="Header"></partial>
    <section class="hero-team hero-team-pr"></section>
    <section class="container team">
        <h2>Patricia Ramos</h2>
        <div class="team-member-box">
            <div class="adalabers-pic team-member-pic">
                <img src= "./assets/images/patri_ramos.jpg" alt=“FotodePatriciaRamos” title=“FotodePatriciaRamos”>
            </div>
            <div class="team-member-description">
                ¡Hola, soy Patricia! Una persona inquieta y con ganas constantes de
                    aprender. Tras haber gestionado diferentes webs, me paso al lado oscuro como desarrolladora
                    Front-end.
                    Me encantan los domingos de relax en los que toda esa proactividad desaparece
            </div>
        </div>
        <div class="team-member-skills">
            <ul>
                <li>
                    <h3>De dónde vengo</h3>
                    ¡Publicidad!
                </li>
                <li>
                    <h3>Mis objetivos</h3>
                    Aprender lo máximo que pueda.
                </li>
                <li>
                    <h3>Mi mayor reto en Adalab</h3>
                    Salir con vida.
                </li>
                <li>
                    <h3>Conocimientos técnicos:</h3>
                    |HTML5| |CSS3| |SAAS| |GIT||Github| |Gulp| |Técnicas Agile & SCRUM|
                </li>
            </ul>
        </div>
        </div>
    </section>
    <partial src="_footer.html" label="Footer"></partial>
</body>

</html>