<!DOCTYPE html>
<html lang="es">

<partial src="_head.html" title="Patricia Ramos"></partial>

<body>
    <partial src="_header.html" label="Header"></partial>
    <section class="hero-team hero-team-pr"></section>
    <section class="container team">
        <h2>Patricia Ramos</h2>
        <div class="team-member-box">
            <div class="adalabers-pic team-member-pic">
                <img src= "./assets/images/patri_ramos.jpg" alt=“FotodePatriciaRamos” title=“FotodePatriciaRamos”>
            </div>
            <div class="team-member-description">
                ¡Hola, soy Patricia! Me considero una persona muy inquieta y con ganas constantes de aprender, así que tras haber gestionado diferentes webs he decidido pasarme al lado oscuro y formarme como desarrolladora Front-end.
                Me encantan los domingos de relax en los que toda esa proactividad desaparece, y me dedico a cocinar, comer y no hacer nada.
            </div>
        </div>
        <div class="team-member-skills">
            <ul>
                <li>
                    <h3>De dónde vengo</h3>
                    ¡Publicidad y Marketing! La creatividad siempre ha sido una de mis pasiones y el principal motivo por el que decidí estudiar Publicidad.
                    La alegría está siendo descubrir el hueco tan grande que ocupa la creatividad y la lógica en el mundo de la programación.
                </li>
                <li>
                    <h3>Mis objetivos</h3>
                    Encontrar un trabajo que me haga feliz tanto fuera como dentro de la oficina: 
                    Buen ambiente de trabajo, proyectos llenos de aprendizajes y retos para continuar formandome, horarios flexibles para poder disfrutar de el resto de aspectos de la vida. :)
                </li>
                <li>
                    <h3>Mi mayor reto en Adalab</h3>
                    Ser realmente consciente de mis logros.
                </li>
                <li>
                    <h3>Conocimientos técnicos:</h3>
                    |HTML5| |CSS3| |SAAS| |GIT||Github| |Gulp| |Técnicas Agile & SCRUM|
                </li>
            </ul>
        </div>
        </div>
    </section>
    <partial src="_footer.html" label="Footer"></partial>
</body>

</html>