<!DOCTYPE html>
<html lang="es">

<partial src="_head.html" title="Soraya Valle"></partial>

<body>
    <partial src="_header.html" label="Header"></partial>
    <section class="hero-team hero-team-sv"></section>
    <section class="container team">
        <h2>Soraya Valle</h2>
        <div class="team-member-box">
            <div class="adalabers-pic team-member-pic team-picture">
                <img src="./assets/images/soraya_valle.jpg" alt="Foto de Soraya Valle" title="Foto de Soraya Valle">
            </div>
            <div class="team-member-description">
                ¡Hola! Soy Soraya. La primera vez que programé, hace más de 15 años, me picó un gusanillo que nunca se fue. 
                Antes de aterrizar en el desarrollo Front-end, estudié periodismo y fui social media manager durante diez años, 
                así que mi lugar natural está en algún paraíso digital. Fuera de este, me encontrarás escuchando o haciendo música, 
                o disfrutando de las tardes al sol con una buena cerveza.
            </div>
        </div>
        <div class="team-member-skills">
            <ul>
                <li>
                    <h3>De dónde vengo</h3>
                    Siempre me he movido entre el arte, los ordenadores y la comunicación. Dudo que mi camino se aleje demasiado de ahí.
                </li>
                <li>
                    <h3>Mis objetivos</h3>
                    Mi plan es la felicidad. Gran parte de esa felicidad se deriva del trabajo y mi objetivo actual es acercarme lo más posible
                    al camino que me llevará a ella, por lo que estoy enfocada en formarme como desarrolladora y, en un futuro, disfrutar de
                    esa felicidad mientras conozco el mundo en movimiento.
                                </li>
                <li>
                    <h3>Mi mayor reto en Adalab</h3>
                    ¡GIT! Otro reto era trabajar en equipo desde el primer día con personas desconocidas pero eso, he descubierto, que no ha 
                    sido un reto sino un placer.
                </li>
                <li>
                    <h3>Conocimientos técnicos:</h3>
                    |HTML5| |CSS3| |SAAS| |GIT| |Github| |Gulp| |Técnicas Agile & SCRUM| |+|</li>
            </ul>
        </div>
        </div>
    </section>
    <partial src="_footer.html" label="Footer"></partial>
</body>

</html>