
.aboutus {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
    .container{
        .ab-header{
            h2 {
                color:$headerColor;
                font-family: $fontFamilyTitle;
                font-size: $fontSizeTitle;
                text-align: center;
                line-height: 45px;
            }
        
            p{
                font-family: $fontFamilyBody;
                font-size: $fontSizeBody;
                text-align: center;
                line-height: 24px;
                color: $bodyColor;
            }
    }

}



/* Fin estilos aboutus */
