
.aboutus {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: -10%;
    padding-top: 22.2%;
    @include forTablet {
        padding: 5% 0 4% 0;
        margin-top: 0;
    }

    @include forPc {
        padding: 2.5% 0 2% 0;
    }
}
    .container{
        .ab-header{
            h2 {
                color:$subHeaderColor;
                font-family: $fontFamilyTitle;
                font-size: $fontSizeTitle;
                font-weight: 500;
                text-align: center;
                line-height: 45px;
                padding-bottom: 3%;
                @include forTablet {
                    color: $headerColor;
                }
            }
        
            p{
                font-family: $fontFamilyBody;
                font-size: $fontSizeBody;
                text-align: center;
                line-height: 24px;
                color: $bodyColor;
            }
    }

}



/* Fin estilos aboutus */
