.footer-footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding:30px;
    color:var(--light-gray);
    font-size: var(--text-content-size);
    text-align:center;
    font-family: var(--opensans);
    
    border-width: 100%; /* holaaa */
}

.footer-nav ul li a{
    color: var(--dark-gray);
    font-weight: bold;
}
.footer-nav ul li a:hover{
    color: var(--black);
    transition: all 0.7s ease;
}
.footer-logo img{
    width: 120px;
}
.footer-nav ul li{
list-style-type:none;
padding: 5px;
}
.footer-nav{
    margin-left:-35px;
}
@media all and (min-width:768px){
    .footer-footer{
        height:auto;
        display:flex;
        flex-direction: row;
        color:var(--light-gray);
        font-size: var(--text-content-size);
        text-align:right;
        font-family: var(--opensans);
        position:relative;
        justify-content: space-between;
        padding: 3% 6%;
    }
    .footer-logo img{
        top:100px;
    }
    .footer-logo{
        position:absolute;
        left:5.6%;
        top:30%;
        z-index:-1;
    }
}