.footer__footer{
    border-top: 1px solid grey;
}
.footer{
    display:grid;
    grid-template-columns:1fr;
    justify-content: center;
    align-content: center;
    color:$strengthsColor;
    font-size: $fontSizeBody;
    text-align:center;
    font-family: $fontFamilyBody;
    border-width: 100%; 
    position:relative;
    .footer-aside{
        margin-bottom:1%;
    }

    .footer-nav{
        & ul{
            padding:12px;
        }
        & li{
            list-style-type:none;
            padding: 5px;
            a:hover::before {
                content: ' [ ';
                font-weight: bold;
                color: $headerColor;
            }
            
            a:hover::after {
                content: ' ] ';
                font-weight: bold;
                color: $headerColor;
            }
    
            & a{        
                color:$bodyColor;
                font-weight: bold;
                text-decoration: none;
            }
            & a:hover, 
            a:focus {
                color: $bodyImportantColor;
                transition: all 0.7s ease;
            }
        }
    }     
    .footer-logo{
        img{
            width:120px;
        }
    }
}

@include forTablet{
    .footer{
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas: 'footer-aside' 'footer-nav' 'footer-logo';
}
        .footer-aside{
        grid-area:footer-aside;
        grid-column:span 1;
    }
        .footer-logo{
        grid-area:footer-logo;
        grid-column: span 1;
        position:absolute;
        left:4%;
        top:-60px;
            img{
             width:100px;
    }
}
        .footer-nav{
        grid-area:footer-nav;
        grid-column:3;
        grid-row:1;
        text-align: right;
    }
}
@include forPc{
    .footer-logo{
        position:absolute;
        left:6.6%;
    }
}