.hero-team {
    background-color:$headerColor;
    background-position: center;;
    background-size: cover;
    background-repeat: no-repeat;
    height: 421px;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: -1;
    &-mg {
        background-image: url(../images/maria_garvia_vaca.jpg);
        background-position-y: 25%;
    }
    &-mb {
        background-image: url(../images/maria_blanco_llama.jpg);
        background-position-y: 30%;
    }
    &-pr {
        background-image: url(../images/patricia_ramos_oveja.jpg);
    }
    &-gv {    
        background-image: url(../images/gador_villanueva_cabra.jpg);
        background-position-y: 35%;
    }
    &-sv {
        background-image: url(../images/soraya_valle_gallo.jpg);
    }    
}
.team {
    padding: 20px 0;
    h2 {
        color: $headerColor;
        font-family: $fontFamilyTitle;
        font-size: $fontSizeTitle;
        font-weight: 500;
    }
    .team-member-box {
        padding-top: 20px;
        @include forTablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
            .team-member-description {
                padding-left: 20px;
            }
        }
        .team-member-description {
            padding-top: 20px;
            font-family: $fontFamilyBody;
            font-size: $fontSizeBody;
            color: $bodyColor;
            text-align: justify;
        }
    }
    .team-member-skills {
        text-align: justify;
        ul {
            padding-bottom: 20px;
            li {
                list-style-type: none;
                font-family: $fontFamilyBody;
                font-size: 14px;
                color: $bodyColor;
                h3 {
                    color: $subHeaderColor;        
                    font-size: $fontSizeBody;
                    font-family: $fontFamilyBody;
                    font-weight: 500;
                    padding-top: 15px;
                }
            }
        }
    }
}