/* STRUCTURE */
$margin-site: 15px;

/* COLORS */
$green: #099d8d; /*ANTES --green*/
$aqua: #14d9c4;
$light-gray: #b8b8b9;
$dark-gray: #54585a;
$white: #fff;
$black: #000;

/* TEXT STYLE */
$rubik: 'Rubik', sans-serif;
$opensans: 'Open Sans', sans-serif;
$text-content-size: 16px;
$h2: 24px;
$h3: 22px;