// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// la función acepta un número de pixels (los que vayamos a usar). Y nos devuelve el cálculo en unidades `rem` :)
@function rem($pixels) {
    @return ( $pixels / $defaultFontSize * 1rem );
}
// esta función iría en su archivo dentro de la carpeta core/ que luego podríamos usar así:

p {
    font-size: rem(18);
    margin: 0 rem(10);
}