/* STRUCTURE */
$margin-site: 15px;

/* COLORS */
$headerColor: #099d8d; /*ANTES --green*/
$subHeaderColor: #14d9c4; /*ANTES --aqua*/
$strengthsColor: #b8b8b9; /*ANTES --light-gray*/
$bodyColor: #54585a; /*ANTES --dark-gray*/
$menuColor: #fff; /* ANTES --white */
$bodyImportantColor: #000; /* ANTES --color */

/* TEXT STYLE */
$fontFamilyTitle: 'Rubik', sans-serif; /* ANTES --rubik */
$fontFamilyBody: 'Open Sans', sans-serif; /*ANTES --opensans*/
$fontSizeBody: 16px; /* ANTES --text-content-size */
$fontSizeTitle: 24px; /* ANTES --h2 */
$fontSizeSubtitle: 22px; /* ANTES --h3 */
$fontSizeBodyImportant: 20px;

/* DEVICES */
$tablet: 768px;
$pc: 1200px;